{% load static %}
{% include 'header.html' %}
 
  <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Profile View</h1>
                            
                        </div>
                        <!-- PAGE-HEADER END -->
 <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Profile</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center chat-image mb-5">
                                            <div class="avatar avatar-xxl chat-profile mb-3 brround">
                                                <a class="" href="{% url 'profilepage' %}"><img alt="avatar" src="{% static 'images_ex/user.png' %}" class="brround"></a>
                                            </div>
                                            <div class="main-chat-msg-name">
                                                <a href="{% url 'profilepage' %}">
                                                    <h5 class="mb-1 text-dark fw-semibold">Admin</h5>
                                                </a>
                                                <p class="text-muted mt-0 mb-0 pt-0 fs-13">KFWC</p>
                                            </div>
                                        </div>
                                        
                                </div>
                                
                            </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit Password</h3>
                                    </div>
                                    
                                        
                                        <div class="card-body">
                                            <form method="post" action="{% url 'change_admin_password' %}">
                                                {% csrf_token %}
                                        
                                             <div class="row">
                                                <div class="form-group">
                                                <label class="form-label">Current Password</label>
                                                <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                        <i class="zmdi zmdi-eye text-white" aria-hidden="true"></i>
                                                    </a>
                                                    <input class="input100 form-control" id="password" name="password" type="password" placeholder="Current Password" autocomplete="current-password">
                                                </div>
                                            </div> 

                                  
                                            <div class="form-group">
                                                <label class="form-label">New Password</label>
                                                <div class="wrap-input100 validate-input input-group" id="Password-toggle1">
                                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                        <i class="zmdi zmdi-eye text-white" aria-hidden="true"></i>
                                                    </a>
                                                    <input class="input100 form-control" type="password" id="new_password" name="new_password" placeholder="New Password" autocomplete="new-password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Confirm Password</label>
                                                <div class="wrap-input100 validate-input input-group" id="Password-toggle2">
                                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                        <i class="zmdi zmdi-eye text-white" aria-hidden="true"></i>
                                                    </a>
                                                    <input class="input100 form-control" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" autocomplete="new-password">
                                                </div>
                                            </div>
                                    
                                        </div>
                                        <div class="card-footer text-end">
                                            <button type="submit" class="btn btn-primary">update</button>
                                             <!-- <a href="javascript:void(0)" type="submit" class="btn btn-primary">Update</a> -->
                                            <a href="javascript:void(0)" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </form>
                                        </div>
                                        
                                       
                                    </div>
                                   
                                </div>
                                
                                
                            </div>
                        </div>
                        <!-- ROW-1 CLOSED -->



                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
			
{% include 'footer.html' %}